.navigation {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 10px;
}
.navigation .sections {
    flex: 1;
    background: white;
    overflow: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navigation h3 {
    padding: 10px;
}