.question-navigate {
    display: flex;
}
.question-navigate label {
    display: flex;
    flex: 1;
}
.question-navigate > span {
    display: flex;
    height: 40px;
    align-items: center;
    flex: 1;
}
.question-navigate > span > div:nth-child(1) {
    width: 30px;
    display: flex;
    justify-content: center;
}
.question-navigate > span > div:nth-child(2) {
    width: 40px;
    display: flex;
    padding-left: 5px;
}
.question-navigate > span > div:nth-child(3) {
    flex: 1;
    display: flex;
    align-items: center;
}
.question-navigate:hover {
    background: rgb(70, 162, 227, 0.2);
    cursor: pointer;
    color: rgb(70, 162, 227);
}

.question-navigate input {
    display: none;
}
.question-navigate input:checked ~ span {
    background: rgb(70, 162, 227);
    cursor: pointer;
    color: white;
}