.question-navigate {
    display: flex;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    position: relative;
}
.question-navigate-clickable {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: transparent;
    z-index: 2;
}
.section .questions .question-navigate:first-child {
    /* border-top: 0.5px solid rgba(0, 0, 0, 0.2); */
}
.section .questions .question-navigate:last-child {
    border-bottom: none;
}
.question-navigate label {
    display: flex;
    flex: 1;

}
.question-navigate > span {
    display: flex;
    height: 40px;
    align-items: center;
    flex: 1;
    padding: 10px 0px;
}

.question-navigate > span > div {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.question-navigate > span > div > div:nth-child(1) {
    margin-bottom: 5px;
    padding-left: 5px;
}
.question-navigate > span > div > div:nth-child(2) {
    font-size: 13px;
    padding-left: 5px;
}
.question-navigate:hover {
    background: rgb(70, 162, 227, 0.2);
    cursor: pointer;
    color: rgb(70, 162, 227);
}

.question-navigate input {
    display: none;
}
.question-navigate input:checked ~ span {
    background: rgb(70, 162, 227);
    cursor: pointer;
    color: white;
}
.question-navigate .serial-no {
    width: 30px;
    padding: 0px 5px;
    font-size: 14px;
}
.question-navigate .question-value {
    font-size: 15px;
}