.section {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    background: white;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    margin: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.section .info {
    display: flex;
    flex: 1;
    position: relative;
}
.section .name-timer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
}
.section .toggle {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .toggle-up {
    display: none;
}
.section .toggle-down {
    /* display: none; */
}
.section .toggle:hover {
    /* background: rgb(70, 162, 227, 0.2); */
    color: rgb(70 162 227);
}
.section .questions {
    display: none;
}
.sections .section:first-child {
}
.sections .section {
}

.sections #entity-holder {
    height: 100px;
}
.sections .questions {
    background: white;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}
.section-label-checked-container {
    position: absolute;
    height: 100%;
    width: 100%;
}
.section-label-checked-container input {
    display: none;
}
.section-label-checked-container span {
    height: 100%;
    width: 100%;
    display: block;
}
.section-label-checked-container input:checked ~ span {
    background: rgb(227, 132, 74, 0.1);
    border: 0.5px solid rgb(227, 132, 74);
    box-shadow: 0px 0px 0px 3px rgb(227, 132, 74, 0.2);
    border-radius: 5px;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}
.section .questions {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.section .questions .question-navigate:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.section .questions .question-navigate:last-child span {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}