.section {
    min-height: 60px;
    display: flex;
    flex-direction: column;
    background: white;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    margin: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.section .info {
    display: flex;
    flex: 1;
}
.section .name-timer {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
}
.section .toggle {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .toggle-up {
    display: none;
}
.section .toggle-down {
    /* display: none; */
}
.section .toggle:hover {
    background: beige;
}
.section .questions {
    display: none;
}
.sections .section:first-child {
}
.sections .section {
}

.sections #entity-holder {
    height: 100px;
}
.sections .questions {
    background: white;
}